{% extends 'base.html' %}

{% block content %}
    <h4 class="text-center">Личный кабинет</h4>
    <hr>
    <div class="row">
        <div class="col-4">
            <div class="list-group" id="list-tab" role="tablist">
                <a class="list-group-item list-group-item-action active" id="list-orders-list" data-bs-toggle="list"
                   href="#list-orders" role="tab" aria-controls="list-orders">Заказы</a>
                <a class="list-group-item list-group-item-action" id="list-wishlist-list" data-bs-toggle="list"
                   href="#list-wishlist" role="tab" aria-controls="list-wishlist">Лист ожидания</a>
            </div>
        </div>
        <div class="col-8">
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="list-orders" role="tabpanel" aria-labelledby="list-orders-list">
                    Заказы
                </div>
                <div class="tab-pane fade" id="list-wishlist" role="tabpanel" aria-labelledby="list-wishlist-list">
                    <div class="row">
                        {% for album in customer.wishlist.all %}
                            <div class="card col-md-4 p0 mb-3 mt-3">
                                <img src="{{ album.image.url }}" class="card-img-top">
                                <div class="card-body text-center">
                                    <h5 class="card-title"><a href="{{ album.artist.get_absolute_url }}">
                                        {{ album.artist.name }}
                                    </a></h5>
                                    <h5 class="card-title"><a href="{{ album.get_absolute_url }}">
                                        {{ album.name }}
                                    </a></h5>
                                </div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">
                                        Носитель: <strong>{{ album.media_type.name }}</strong>
                                    </li>
                                    <li class="list-group-item">
                                        Дата релиза: <strong>{{ album.release_date|date:"d.m.Y" }}</strong>
                                    </li>
                                    <li class="list-group-item">
                                        Жанр: <strong class="badge bg-dark">{{ album.artist.genre.name }}</strong>
                                    </li>
                                    <li class="list-group-item">
                                        Наличие: {% if album.stock %}<strong class="badge bg-success">
                                        Есть в наличии</strong>{% else %}
                                        <strong class="badge bg-danger">Нет в наличии</strong>{% endif %}
                                    </li>
                                </ul>
                                <div class="card-body text-center">
                                    <a href="{% url 'remove_from_wishlist' album_id=album.id %}" class="btn btn-danger">Удалить из ожидаемого <i class="fas fa-star"></i></a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}